<div *ngIf="!company">
  <h1>Uh oh!</h1>
  <p>You somehow got here without a company!</p>
  <p>Select a company from the <a [routerLink]="['/companies']">companies list</a> to find coupons for it.</p>
</div>
<div *ngIf="company">
  <h1>Your friends' coupons for <strong>{{company.name}}</strong></h1>
  <div *ngIf="state === states.LOADING">
    Loading coupons...
  </div>
  <div *ngIf="state === states.LOGGED_OUT">
    <h2>You're not logged in!</h2>
    <zanesquad-registration-invite></zanesquad-registration-invite>
  </div>
  <div *ngIf="state === states.HAS_COUPONS" class="content">
    <div *ngFor="let coupon of coupons" class="coupon-container">
      <mat-card>
        <mat-card-title>{{coupon.code}}</mat-card-title>
        <mat-card-content>
          <p>Friend: {{coupon.friendFullname}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="state === states.NO_COUPONS">
    <h2>Uh oh!</h2>
    <p>None of your friends have a coupon for this company!</p>
  </div>
</div>

<!-- <pre>
  Company: {{company | json}}
  state: {{states[state]}}
</pre> -->
