
<mat-card>
  <div *ngIf="!coupon">
    <h1>Uh oh!</h1>
    <p>You somehow got here without a coupon!</p>
    <p>Select a coupon from your <a [routerLink]="['/coupons']">coupons list</a> to edit it.</p>
  </div>
  <div *ngIf="coupon">
    <h1>Edit the code for your {{coupon.company.name}} coupon:</h1>
    <form novalidate [formGroup]="editForm" autocomplete="off">
      <mat-form-field class="form-control">
        <mat-label>Coupon Code</mat-label>
        <input matInput type="text" formControlName="code">
        <mat-error *ngIf="editForm.controls['code'].hasError('required')">Coupon Code is required</mat-error>
      </mat-form-field>
      <mat-card-footer>
        <button mat-button color="primary" [zanesquadSubmitIfValid]="editForm" (valid)="submitForm()">Submit</button>
      </mat-card-footer>
    </form>
  </div>
</mat-card>
